* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-content: center;
  background-color: #DCECF9;
  border-style: solid;
  margin: 10px;
  border-radius: 10px;
}

h1 a {
  /* display: flex; */
  font-family: Trebuchet MS;
  font-size: 40px;
  text-align: center;
}

h2, h3, h4 {
  font-family: Trebuchet MS;
  /* text-align: center; */
}

html {
  background-image: url(images/IMG_1712.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  /* background: lightblue; */
}

.camp-img, .no-image {
  border-radius: 10px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

.intro {
  display: flex;
  flex-direction: column;
  background-color: #DCECF9;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  margin: 10px;
  border-radius: 10px;
  text-align: justify;
  /* width: fit-content; */
  /* flex-shrink: 0; */
  /* max-height: 200px; */
  /* width: fit-content; */
}

.intro p {
  display: inline-block;
  position: relative;
  width: 100%;
}

.search-form {
  display: flex;
  flex-direction: column;
  background-color: #DCECF9;
  border-style: solid;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-height: 200px;
  /* min-height: 100%; */
}

.park-results {
  display: flex;
  flex-direction: column;
  background-color: #DCECF9;
  border-style: solid;
  border-radius: 10px;
  min-height: 100%;
  /* width: 100%; */
  margin: 10px;
}

.item {
  flex: 1;
}

.item-double {
  flex: 2;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

.park-list {
  border-style: double;
  margin-left: 5px;
  margin-right: 5px;
}

h3 {
  text-align: center;
  margin: 10px;
}

.address {
  display: flex;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.address-list {
  margin-bottom: 5px;
}

.submit-button {
  margin-top: 10px;
  width: 200px;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.camp-header {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px;
}

.hidden {
  display: none;
}

.state-dropdown {
  width: 120px;
}

.search-term {
  width: 100px;
}

.no-camps, .invalid-code, .error-message {
  color: red;
}

.park-num, .num-of-campgrounds {
  text-align: center;
}

button, .submit-button {
  box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
  color: black;
  cursor:pointer;
}

button:hover, .submit-button:hover {
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}


@media all and (min-width: 800px) {
  section {
    padding: 5px 10px 5px 10px;
  }
  .container {
    flex-direction: row;
  }
}