* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

header {
  background-color: #DCECF9;
  border-style: solid;
  margin: 10px;
  border-radius: 10px;
  font-family: Trebuchet MS;
  text-align: center;
}

h2, h3, h4 {
  font-family: Trebuchet MS;
  /* text-align: center; */
}

html {
  background-image: url(images/IMG_1712.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.camp-img, .no-image {
  border-radius: 10px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.intro {
  background-color: #DCECF9;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  margin: 10px;
  border-radius: 10px;
  text-align: justify;
}

.search-form {
  display: flex;
  flex-direction: column;
}

.intro-section {
  display: flex;
  flex-direction: column;
}

.intro-search {
  background-color: #DCECF9;
  border-style: solid;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.park-results {
  display: flex;
  flex-direction: column;
  background-color: #DCECF9;
  border-style: solid;
  border-radius: 10px;
  min-height: 100%;
  margin: 10px;
  text-align: justify;
}

.item {
  flex: 1;
}

.item-double {
  flex: 2;
}

.container {
  margin: 0 5%;
}

.park-list {
  border-style: double;
  margin-left: 5px;
  margin-right: 5px;
}

h3 {
  text-align: center;
  margin: 10px;
}

.address {
  display: flex;
  padding-left: 5px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.address-list {
  margin-bottom: 5px;
}

.submit-button {
  margin-top: 10px;
  width: 200px;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.camp-header {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px;
}

.hidden {
  display: none;
}

.state-dropdown {
  width: 120px;
}

.search-term {
  width: 100px;
}

.no-camps, .invalid-code, .error-message {
  color: red;
}

.park-num, .num-of-campgrounds {
  text-align: center;
}

button, .submit-button {
  box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
  color: black;
  cursor:pointer;
}

button:hover, .submit-button:hover {
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}

.camp-btn {
  margin: 5px;
}

#scroll-to-top-btn {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 60px;
  height: 60px;
  border-radius: 10%;
  background: blanchedalmond;
  border: none;
  color: black;
  outline: none;
  cursor: pointer;
}

#scroll-to-top-btn:active {
  background: #D88373;
}

@media all and (min-width: 800px) {
  section {
    padding: 5px 10px 5px 10px;
  }
  .container {
    margin: 0 15%;
  }
  .intro-section {
    flex-direction: row;
  }
  .img-container {
    padding: 0 15%;
  }
}