* {
  box-sizing: border-box;
}

h1 {
  font-family: Trebuchet MS;
  font-size: 40px;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  text-align: center;
}

.address {
  display: flex;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.address-list {
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

.submit-button {
  margin-top: 10px;
  width: 200px;
}

label {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.state-dropdown {
  width: 120px;
}

.search-term {
  width: 100px;
}

.no-camps, .invalid-code, .error-message {
  color: red;
}